@using MyStore.Business.Search.Managers;

@model MyStore.Mvc.Models.AdminViewModels.SearchSettingsViewModel

@{
    ViewBag.Title = "Search settings";
}

<h2>Search settings</h2>

<div>
    @if (Model.IndexExists)
    {
        <dl class="dl-horizontal">
            @if (Model.IndexInProgress)
            {
                <dt>@Html.DisplayNameFor(m => m.IndexInProgress)</dt>
                <dd>@Model.IndexProgressPercentage.ToString("P")</dd>
            }
            else if (!Model.IndexSuccess)
            {
                <dt>@Html.DisplayNameFor(m => m.IndexErrorMessage)</dt>
                <dd>@Model.IndexErrorMessage</dd>

                <dt>@Html.DisplayNameFor(m => m.IndexErrorStackTrace)</dt>
                <dd>@Model.IndexErrorStackTrace</dd>
            }
        </dl>
    }
    else
    {
        <h4>
            Index does not exist!
        </h4>
    }
    <div>
        @if (!Model.IndexInProgress)
        {
            using (Html.BeginForm("CreateSearchIndex", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Create search index" class="btn btn-default" />
            }
        }
    </div>
</div>