@model MyStore.Mvc.Models.ProductViewModels.ProductListItemViewModel

<div class="productsListItem @(Model.Stock == 0 ? "notInStock" : "")">
    <h3>
        <a href="@Url.Action("Details", "Product", new
   {
       Link = Model.Url,
       Id = Model.Id,
       returnUrl = Request.Url.PathAndQuery
   })">@Html.PreviewText(Model.Title, 12)</a>

</h3>
<img alt="Image" src="~/Content/Images/Products/@Model.Image" style="max-width:150px; max-height: 160px;" />
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
    <p>@Html.DisplayNameFor(m => m.Price): @Html.PriceFormat(Model.Price)</p>

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_AddToBasketButton", new MyStore.Mvc.Models.BasketViewModels.AddToBasketButtonViewModel
        {
            IsInStock = Model.Stock > 0,
            ProductId = Model.Id,
        })
    }
</div>
</div>