@model MyStore.Mvc.Models.ProductViewModels.ProductsListViewModel

<div style="margin-left: 25px;">
    <h4>Sort</h4>
    @using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), "Product", new { pageNumber = 1 }, FormMethod.Post, new { @class = "productsSortBar", role = "form", id = "productListSortBar" }))
    {
        @Html.HiddenFor(m => m.Query)
        @*<div>
            @Html.DropDownListFor(m => m.SortField, Model.AvailableSortFields.Select(f => new SelectListItem
            {
                Value = f,
                Text = string.IsNullOrEmpty(f) ? "Relevant" : f
            }), new { @class = "productsSortBarInput" })

            @Html.HiddenFor(m => m.InverseSort, new { id = "inverseSortType" })
        </div>


        <div id="ascSortButton" class="arrow up @(Model.InverseSort ? "" : "active")"></div>
        <div id="descSortButton" class="arrow down @(Model.InverseSort ? "active" : "")"></div>*@

        @Html.Partial("_ProductSortBarSortTypeSelect")

    }
</div>