@model MyStore.Mvc.Models.ProductViewModels.ProductDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>
<hr />
<div>
    <div>
        <h3>@Model.Title</h3>
        <div style="margin: 18px">
            <img src="~/Content/Images/Products/@Model.Image" alt="Image" style="max-width: 600px; max-height: 600px" />
        </div>
        <p style="font-size: 12pt; margin-bottom: 24px">@Model.Description</p>

        <p>@Html.DisplayNameFor(m => m.Stock): @Model.Stock</p>
        <p>@Html.DisplayNameFor(m => m.Price): @Html.PriceFormat(Model.Price)</p>
        @Html.Partial("_AddToBasketButton", new MyStore.Mvc.Models.BasketViewModels.AddToBasketButtonViewModel
        {
            IsInStock = Model.SellsCount > 0,
            ProductId = Model.Id
        })
    </div>
</div>
<p style="margin-top: 20px;">
    @if (!string.IsNullOrEmpty(Model.ReturnUrl))
    {
        <a href="@Model.ReturnUrl">Back</a>
    }
    else
    {
        @Html.ActionLink("Go to list", "List", "Product")
    }
</p>
