@model MyStore.Mvc.Models.ProductViewModels.ProductDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>
<hr />
<div>
    <div>
        <h3>@Model.Title</h3>
        <div style="margin: 18px">
            <img src="~/Content/Images/@Model.Image" alt="Image" style="max-width: 600px; max-height: 600px" />
        </div>
        <p>@Model.Description</p>
        <p>@Html.DisplayNameFor(m => m.Stock): @Model.Stock</p>
        <p>@Html.DisplayNameFor(m => m.Price): @Html.PriceFormat(Model.Price)</p>
        @if (Model.Stock > 0)
        {
            <input type="button" class="btn btn-success add-to-basket" value="Add to basket" />
        }
        else
        {
            <input type="button" class="btn add-to-basket" value="Not in stock" disabled="disabled" />
        }
    </div>
</div>
<p style="margin-top: 20px;">
    @if (!string.IsNullOrEmpty(Model.ReturnUrl))
    {
        <a href="@Model.ReturnUrl">Back</a>
    }
    else
    {
        @Html.ActionLink("Go to list", "List", "Product")
    }
</p>
