@model MyStore.Mvc.Models.ProductViewModels.ProductsListViewModel

@{
    ViewBag.Title = "All products";
}
<div style="margin-left: 25px;">
    @if (string.IsNullOrEmpty(Model.Query))
    {
        <h2>All products</h2>
    }
    else
    {
        ViewBag.SearchQuery = Model.Query;
        <h2>Search results for «@Model.Query»</h2>
        <p>Found: @Model.TotalItemsCount</p>
    }
</div>

<hr />
    @Html.Partial("_ProductsSortBar", Model)
<hr />

<div class="productsList" id="productsContainer">
    @if (Model.Items != null && Model.Items.Count > 0)
    {
        foreach (var product in Model.Items)
        {
            @Html.Partial("_ProductListItem", product);
        }
    }
    else
    {
        <h3>No results</h3>
    }
</div>

<hr />

@Html.Partial("_ProductListPaging", Model)

@section Scripts {
    @Scripts.Render("~/Scripts/ProductsSortBar.js")
}
