@model MyStore.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<hr />
<div>
    <h4>Last orders</h4>
    @*Last 5 orders partial*@
    <p>@Html.ActionLink("Full order history", "OrderHistory", "Order")</p>
    <hr />
</div>
<div>
    <h4>Your account settings</h4>
    <dl class="dl-horizontal">
        <dt>UserName:</dt>
        <dd>
            @User.Identity.Name
        </dd>
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </dd>
    </dl>
</div>
